<div>
    <div class="marginLeftRight5p">
        <div class="button-bar marginTop60px">
            <a class="button button-small button-outline button-positive" ui-sref="mall.shopList">Shops</a>
            <a class="button button-small button-outline button-positive" ui-sref="mall.services">Services</a>
            <a class="button button-small button-outline button-positive" ui-sref="mall.events">Events</a>
            <a class="button button-small button-outline button-positive" ui-sref="mall.location">Location</a>
            <a class="button button-small button-outline button-positive" ui-sref="mall.about">About</a>
        </div>
    </div>
    <div ui-view></div>
</div>