<div>
    <div class="list">
        <label class="item item-input">
            <span class="input-label">First Name</span>
            <input type="text" ng-model="user.firstName" required>
        </label>
        <label class="item item-input">
            <span class="input-label">Last Name</span>
            <input type="text" ng-model="user.lastName" required>
        </label>
        <label class="item item-input">
            <span class="input-label">Email Address</span>
            <input type="email" ng-model="user.email" required>
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="user.password" required>
        </label>
        <label class="item item-input">
            <span class="input-label">Date of Birth</span>
            <input type="date" ng-model="user.dob" required>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Gender
            </div>
            <select>
                <option>Male</option>
                <option>Female</option>
            </select>
        </label>
        <label class="item item-toggle">
            Push Notification
            <label class="toggle toggle-assertive">
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </label>

        <div class=" col col-80 col-offset-10 marginTop30px">
            <button class="button button-block button-outline button-positive" ng-click="SignUp(user)">
                Sign Up
            </button>
        </div>
    </div>
</div>